<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/home.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Digilock</title>
</head>
<body>
    <header>
        <div class="nav">
            <h1 class="h-logo">Digilect</h1>
            <ul class="navul">
                <li class="navli"><a class="a" href="#">Home<hr class="hr"></a></li>
                <li class="navli"><a class="a" href="#about">About<hr class="hr"></a></li>
                
                <li class="navli"><a class="a" href="#video">Video<hr class="hr"></a></li>
                <li class="navli"><a class="a" href="/vote">Vote<hr class="hr"></a></li>
            </ul>
        </div>
        <div class="div2">
            <div class="left">
                <div class="h-cent">
                    <h1 class="h-title" data-aos="fade-right" id="titles" data-aos-once="true">
                        Voting now <br>Online
                    </h1>
                    <p class="h-para" data-aos="fade-right" data-aos-delay="200" data-aos-once="true">In light of the worldwide pandemic, we have introduced Digilect, that allows you to vote without ever stepping out into the lashes of COVID-19.
                    </p>
                        <a class="button" href="#about" data-aos="fade-right"
                        data-aos-delay="400" data-aos-anchor="#titles" data-aos-once="true">Learn more<div class="bg"></div><div class="bg2"></div></a>
                </div>
            </div>
            <div class="right">
                
                    <img src="https://cdn.discordapp.com/attachments/430704906169614338/748988424643412008/Artboard_1.png" class="h-img">
                    
                
            </div>
        </div>
    </header>
    <section class="sec2">
        <div class="sec2-boxes">
            <div class="sec2-left" data-aos="fade-right" data-aos-once="true">
                <div class="sec2-in">
                    <h1 class="sec2-title">The Problem</h1>
                    <p class="sec2-text">The pandemic has transformed the routine of the world. Generic methods now compromise safety and health. In such a dire situation, something state or even nation-wide, like voting, has become a major hurdle against the administrative framework.
                    </p>
                </div>
            </div>
            <div class="sec2-right" data-aos="fade-left" data-aos-once="true">
                <div class="sec2-in" >
                    <h1 class="sec2-title">The Solution</h1>
                    <p class="sec2-text">We have digitalised voting. Voting will now take place through our website, or our mobile application. This promotes social distancing and is faster than waiting in a line for hours just for casting your vote.

                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="sec3" id="about">
        <div class="left">
        <div class="sec4-cont">
            <h1 class="sec3-title" data-aos="fade-right" data-aos-once="true">Your vote is your vote</h1>
                <p class="sec3-text" data-aos="fade-right" data-aos-once="true" data-aos-delay="200">We make sure that your vote  is not altered by anyone with malicious intent. You need to enter your aadhaar number as well as your Voter ID. Other than this, both the website and the mobile app are available in multiple languages approved by the government.
                </p>
                </div>
        </div>
        <div class="right">
            <img class="drone" src="https://cdn.discordapp.com/attachments/430704906169614338/749875824605528074/ballod.png">
        </div>
    </section>
    <section class="sec2">
        <div class="left">
            <img class="sec4-img" src="https://media.discordapp.net/attachments/746402394572718093/749605965183189193/Verification.png">
        </div>
        <div class="right">
            <div class="sec3-cont">
                <h1 class="sec3-title" data-aos="fade-left" data-aos-once="true">When to vote?</h1>
                <p class="sec3-text" data-aos="fade-left" data-aos-delay="200" data-aos-once="true">We provide a custom made device specifically for those who are below the poverty line and cannot afford a smartphone. This device is cheap and secure for voting it has a built in finger print scanner to verify your identity .</p>
            </div>
        </div>
    </section>
    <section class="last">
        <div class="this">
            <div class="conts">
                <div class="tops"><img src="https://cdn.discordapp.com/attachments/430704906169614338/749100596996341880/Artboard_1.png" class="imgg"></div>
                <div class="bots">
                    <div class="inn">
                        <h1 class="title-22">Secure</h1>
                        <p class="parass">Digilect keeps you data private and all info is sent directly to government without any 3rd party interference. Your aadhar and voter ID are encrypted so they can not be compromised.
                        </p>
                    </div>
                </div>
            </div>
            <div class="conts">
                <div class="tops"><img src="https://cdn.discordapp.com/attachments/430704906169614338/749873499534917702/Untitled-1.png" class="imgg"></div>
                <div class="bots">
                    <div class="inn">
                        <h1 class="title-22">Hack-Proof</h1>
                        <p class="parass">
                            We use blockchain which is the same technology used by bitcoin along with SHA:256 encyption to keep votes secure .</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="video">
            <iframe class= "videoo" src="https://drive.google.com/file/d/1bXT6kdIJR2dKvYgIQ8oYAs-j3Y3f8OlC/preview"></iframe>
        </div>


    </section>
    <footer>
        <p class="mwl">
            Made with &lt;/3 by Code Warriors
        </p>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>