<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav">
            <a class="h-logo" href="index.html">Digilect</a>
        </div>
        <div class="div2">
            <div class="cent">
                <img src="https://cdn.discordapp.com/attachments/430704906169614338/749046530782265404/Artboard_2.png" style="width: 5vw; margin-bottom:5vh;">
                <h1 class="f-title">Your vote has been submitted.</h1>
                <a class="button" id="but" href="../home">Go Back<div class="bg"></div><div class="bg2"></div></a>
            </div>
        </div>